//variables//
$width: 400px; 
$height: 350px;


.nosotros{
    padding: 20px;
    margin: 10px;
    text-align: center;
}
@mixin sizes($width, $height) {
    height: $height;
    width: $width;
    }

.nosotros1 img{
    @include sizes(400px, 350px);
    border-radius: 15px;
    margin: 15px;
    box-shadow: 15px 15px 15px #00000095;
}

h1{
    text-align: center;
    font-size: 25px;
    margin: 15px;
    padding: 10px;
}

